<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mon beau sapin</title>
    <link rel="icon" href="./static/img/christmas_tree_favicon.ico">
    <link rel="stylesheet" href="./static/css/style.css" type="text/css">
</head>

<body>
    <h1>1. Présentation du projet</h1>
    <h2>La spécialité NSI</h2>
    <div>
        <p>La NSI (Numérique et Sciences Informatiques) est l'une des spécialités offertes en classe de Première. Comme pour toute autre spécialité, les élèves y consacrent 4 heures par semaine pendant lesquelles quatre grands concepts fondamentaux sont
            abordés :
            <ul>
                <li>Les <strong>données</strong>, qui représentent sous une forme numérique unifiée des informations très diverses.</li>
                <li>Les <strong>algorithmes</strong>, qui spécifient de façon abstraite et précise des traitements à effectuer sur les données à partir d'opérations élémentaires.</li>
                <li>Les <strong>langages</strong>, qui permettent de traduire les algorithmes abstraits en programmes textuels ou graphiques de façon à ce qu'ils soient exécutables par les machines.</li>
                <li>Les <strong>machines</strong>, et leurs systèmes d'exploitation, qui permettent d'exécuter des programmes en enchaînant un grand nombre d'instructions simples, assurent la persistance des données par leur stockage et de gérer les communications.</li>
            </ul>
        </p>
        <p>
            À ces concepts s'ajoute un élément transversal : les <strong id="interfaces">interfaces</strong> qui permettent la communication avec les humains, la collecte des données et la commande des systèmes.
        </p>
    </div>

    <h2>Le projet &laquo;Sapin de Noël&raquo;</h2>
    <div>
        <p>L'objectif de ce projet est de pouvoir commander les guirlandes décorant un sapin de Noël à l'aide d'une interface Web. Le projet nécessite des bases en <a href="https://www.w3schools.com/html/default.asp">HTML</a>, <a href="https://www.w3schools.com/css/default.asp">CSS</a>,
            <a href="https://www.w3schools.com/js/default.asp">JavaScript</a> et <a href="https://www.w3schools.com/python/default.asp">Python</a>. Nous utiliserons le matériel suivant :
            <ul>
                <li>un <a href="https://www.raspberrypi.org/products/raspberry-pi-3-model-b/">Raspberry Pi 3 modèle B</a>;</li>
                <img src="./static/img/raspberry_pi.jpg" alt="un Raspberry Pi" class="images">
                <li>un module à relais qui sera piloté par le Raspberry Pi;</li>
                <img src="./static/img/relais.jpg" alt="un module à relais" class="images">
                <li>des guirlandes (reliées au module) et un sapin (!!).</li>
            </ul>
        </p>
    </div>

    <h1>2. Commander les guirlandes</h1>
    <p>Pour commander les guirlandes, cliquer sur l'un des boutons suivants :
        <div class="boite-flex">
            <input type="button" value="Ascendant" onclick="Bouton_clic();">
            <input type="button" value="Descendant" onclick="Bouton_clic();">
            <input type="button" value="Alterné" onclick="Bouton_clic();">
            <input type="button" value="Aléatoire" onclick="Bouton_clic();">
        </div>
    </p>
    <script type="text/javascript" src="./static/js/script.js"></script>
</body>

</html>